html {
    margin:0;
    padding:0; 
}
body{
    margin:0;
    padding:0;
}

button {
    margin:0;
    padding:0;
}

input {
    margin:0;
    padding:0;
}

.main__flexcontainer {
    display:flex;
    flex-direction: row;
    flex-grow: 0;
}

.flex_container {
    display:flex;
    flex-direction: row;
}

.header--dark {
    display: block;
    position:absolute;
    top: 0;
    left:0;
    right: 0;
    height:3rem;
    background-color: rgb(51,57,64);
    color: rgb(236,236,236);
    padding:0;
}

.header__title {
    display:inline;
    font-size: 1.25em;
    position:relative;
    top: -0.75rem;
    Left: 0.5rem;
    flex:15%;
    margin-left: 0.5rem;
}

.header__search {
   display: inline;
   flex:72%;
   text-align: right;
}

.search__input {
    display: inline;
    border-radius: 4px 0 0 4px;
    font-size: 1.2rem;
    position:relative;
    top: 0.45rem;
    right: 0;
    left: 0;
    border-width: 3px 0 3px 3px;
    height: 1.5rem;
    animation: border_animation 0.15s 1; 
}

@keyframes border_animation {
	50% {border-color: rgb(237, 229, 224);}
}

.search__input:focus {
     border-color: rgb(128,189,255);
}

.search__btn {
    display: inline;
    background-color: rgb(0, 123, 255);
    position: relative;
    top: 0.35rem;
    height: 2rem;
    width: 2rem;
}
.hamburger {
    display:inline;
    position:relative;
    top: 1rem;
    flex:2%;
}

.emberke{
    display:inline;
    flex:5%;
    position: relative;
    top: 1rem;
    text-align: center;
}

aside {
    flex:17.5%;
    height:100%;
    margin-top: 3rem; 
    padding: 0;
}

.main__nav {
   display: block;
   background-color: rgb(33, 37, 41);
   color: aliceblue;
}

.nav__ul {
    list-style-type: none; 
    padding-left: 1rem;
}

.nav__ul >li {
    color: rgb(134, 142, 148);
}

.nav__li--color {
    color: aliceblue;
}

.ul__li--normalspace {
    height: 3.8vw;
    padding-top: 1vw;
}

.ul__li--bigspace {
    height: 2.8vw;
    padding-top: 2vw;
}

.nav__li--right {
    text-align: right;
}

.main__breadcrumb{
    background-color: rgb(233,236,239);
    border-radius: 0.25rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.content--center {
   vertical-align: middle;
}

.content {
    flex:82.5%;
    margin-top: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.main__cards {
    display:flex;
    flex-direction: row;
}

.main__card {
    flex:24%;
    animation: color_animation 0.3s 1; 
}

@keyframes color_animation {
	50% {opacity:0.5}
}

.card__top {
    height: 1rem;
    padding-left:1rem;
    padding-top:1rem;
    padding-bottom: 2.5rem;
    font-size: 1.2rem;
    border-bottom: 0.1rem solid rgb(134, 142, 148) ;
}

.card__bottom {
    height: 1.5rem;
    padding-top: 1.5rem;
    padding-left:1rem;
    font-size: 0.8rem;
}

.main__card--blue {
    background-color: rgb(0,123,255);
    margin: 2rem 1rem 1rem 0;
    border-radius: 0.25rem;
}

.main__card--yellow {
    background-color: rgb(255, 193, 7);
    margin: 2rem 1rem 1rem 1rem;
    border-radius: 0.25rem;
}

.main__card--green {
    background-color: rgb(40,167,69);
    margin: 2rem 1rem 1rem 1rem;
    border-radius: 0.25rem;
}

.main__card--red {
    background-color: rgb(220,53,69);
    margin: 2rem 0 1rem 1rem;
    border-radius: 0.25rem;
}

@media screen and (max-width: 800px) {
   
    .header__title {
        font-size: 0.75em;
        top: 0rem;
        Left: 0.5rem;
        margin-left: 0;
    }
  }

  
@media screen and (max-width: 700px) {
    .main__cards  {
      display:block;
    }

    .main__card--blue {
        padding: 1rem 1.5rem 1rem 1.5rem;  
        margin: 1rem 0 1rem 0;
    }

    .main__card--yellow {
        padding: 1rem 1.5rem 1rem 1.5rem;  
        margin: 1rem 0 1rem 0;
    }

    .main__card--green {
        padding: 1rem 1.5rem 1rem 1.5rem;  
        margin: 1rem 0 1rem 0;
    }

    .main__card--red {
        padding: 1rem 1.5rem 1rem 1.5rem;  
        margin: 1rem 0 1rem 0;
    }

    .nav__li--hider {
        display:none
    }
    .header__title {
        font-size: 0.75em;

    }
  }